.slideshow {
    margin: auto;
    margin-top: 15px;
    position: relative;
    margin-bottom: 15px;
}

.slideshow-content, .slideshow-content2 {
    display: none;
}

img {
    border-radius: 20px;
}

.pref, .next {
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
    margin-top: -22px;
    font-weight: bold;
    position: absolute;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.dots, .dots2 {
    width: 15px;
    height: 15px;
    margin: 0 2px;
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
    background-color: #bbb;
    transition: background-color 0.6s ease;
}

.active, .dot:hover, .dot2:hover {
    background-color: #717171;
}

.fading {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fading {
    from {opacity: 4;}
    to {opacity: 1;}
}